@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: var(--roboto);
}

.layout {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--indie-flower);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}
